<%= render 'layouts/show_header' %>

<%= render 'layouts/flash_success' %>

<div class="row">

  <div class="col-sm-12">

    <div class="well">

      <div>
        <strong>Name:</strong>
        <%= @genre.name %>
      </div>

    </div>

  </div>

</div>

<div class="row">
  <div class="col-sm-12">
    <%= link_to 'Edit', edit_genre_path(@genre), class: 'btn btn-primary btn-xs' %>
    <%= link_to 'Back', genres_path, class: 'btn btn-warning btn-xs' %>
  </div>
</div>