<%= render 'layouts/list_header' %>

<%= render 'layouts/flash_success' %>

<div class="row">

  <div class="col-sm-12">

    <div class="table-responsive">

      <table class="table table-bordered table-hover">

        <thead>
        <tr>
          <th>Date</th>
          <th>Book a</th>
          <th>Book b</th>
          <th colspan="3">Actions</th>
        </tr>
        </thead>

        <tbody>
        <% @exchanges.each do |exchange| %>
            <tr>
              <td><%= exchange.date %></td>
              <td><%= exchange.book_a.name %></td>
              <td><%= exchange.book_b.name %></td>
              <td><%= link_to 'Show', exchange, class: 'btn btn-primary btn-xs' %></td>
              <td><%= link_to 'Edit', edit_exchange_path(exchange), class: 'btn btn-primary btn-xs' %></td>
              <td><%= link_to 'Destroy', exchange, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %></td>
            </tr>
        <% end %>
        </tbody>

      </table>

    </div>

  </div>

</div>