<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= l(@exchange.date, format: :long) %>
</p>

<p>
  <strong>User a:</strong>
  <% if @exchange.user_a_username.present? %>
      <%= @exchange.user_a.name %>
  <% else %>
      -
  <% end %>
</p>

<p>
  <strong>Book a:</strong>
  <%= @exchange.book_a.name %>
</p>

<p>
  <strong>User b:</strong>
  <% if @exchange.user_b_username.present? %>
      <%= @exchange.user_b.name %>
  <% else %>
      -
  <% end %>
</p>

<p>
  <strong>Book b:</strong>
  <%= @exchange.book_b.name %>
</p>


<%= link_to 'Edit', edit_exchange_path(@exchange) %> |
<%= link_to 'Back', exchanges_path %>
