<%= render 'layouts/show_header' %>

<%= render 'layouts/flash_success' %>

<div class="row">

  <div class="col-sm-12">

    <div class="well">

      <div>
        <strong>Date:</strong>
        <%= l(@exchange.date, format: :long) %>
      </div>

      <div>
        <strong>User a:</strong>
        <% if @exchange.user_a_username.present? %>
            <%= @exchange.user_a.name %>
        <% else %>
            -
        <% end %>
      </div>

      <div>
        <strong>Book a:</strong>
        <%= @exchange.book_a.name %>
      </div>

      <div>
        <strong>User b:</strong>
        <% if @exchange.user_b_username.present? %>
            <%= @exchange.user_b.name %>
        <% else %>
            -
        <% end %>
      </div>

      <div>
        <strong>Book b:</strong>
        <%= @exchange.book_b.name %>
      </div>

    </div>

  </div>

</div>

<div class="row">
  <div class="col-sm-12">
    <%= link_to 'Edit', edit_exchange_path(@exchange), class: 'btn btn-primary btn-xs' %>
    <%= link_to 'Back', exchanges_path, class: 'btn btn-warning btn-xs' %>
  </div>
</div>
