<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @author.cpf %>
</p>

<p>
  <strong>Date:</strong>
  <%= l(@author.birth_date, format: :long) %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
