<%= render 'layouts/show_header' %>

<%= render 'layouts/flash_success' %>

<div class="row">

  <div class="col-sm-12">

    <div class="well">

      <div>
        <strong>Name:</strong>
        <%= @user.name %>
      </div>

      <div>
        <strong>Email:</strong>
        <%= @user.email %>
      </div>

      <div>
        <strong>Username:</strong>
        <%= @user.username %>
      </div>

      <div>
        <strong>Password:</strong>
        <%= @user.password %>
      </div>

      <div>
        <strong>Birth date:</strong>
        <%= @user.birth_date %>
      </div>

      <div>
        <strong>Badges:</strong>
        <% if @user.badges.any? %>
          <ul>
            <% @user.badges.each do |badge| %>
                <li><%= badge.name %></li>
            <% end %>
          </ul>
      <% else %>
          -
      <% end %>
      </div>

    </div>

  </div>

</div>

<div class="row">
  <div class="col-sm-12">
    <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary btn-xs' %>
    <%= link_to 'Back', users_path, class: 'btn btn-warning btn-xs' %>
  </div>
</div>