<h1>Book xChange</h1>

<p>
  <%= link_to 'Authors', authors_path %>
</p>

<p>
  <%= link_to 'Books', books_path %>
</p>

<p>
  <%= link_to 'Countries', countries_path %>
</p>

<p>
  <%= link_to 'Evaluations', evaluations_path %>
</p>

<p>
  <%= link_to 'Exchanges', exchanges_path %>
</p>

<p>
  <%= link_to 'Genres', genres_path %>
</p>

<p>
  <%= link_to 'Messages', messages_path %>
</p>

<p>
  <%= link_to 'Publishers', publishers_path %>
</p>

<p>
  <%= link_to 'Users', users_path %>
</p>

<p>
  <%= link_to 'Consultas', queries_path %>
</p>