<%= render 'layouts/errors', resource: @book %>

<%= form_for(@book, html: {class: 'form-horizontal'}) do |f| %>

    <div class="form-group">
      <%= f.label :pages, class: 'col-sm-3 control-label' %>
      <div class="col-sm-7">
        <%= f.number_field :pages, class: 'form-control', placeholder: 'Pages' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :isbn, class: 'col-sm-3 control-label' %>
      <div class="col-sm-7">
        <%= f.text_field :isbn, class: 'form-control', placeholder: 'ISBN' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :name, class: 'col-sm-3 control-label' %>
      <div class="col-sm-7">
        <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :publish_date, class: 'col-sm-3 control-label' %>
      <div class="col-sm-7">
        <%= f.date_field :publish_date, class: 'form-control', placeholder: 'Publish Date' %>
      </div>
    </div>


    <div class="form-group">
      <%= f.label :edition, class: 'col-sm-3 control-label' %>
      <div class="col-sm-7">
        <%= f.number_field :edition, class: 'form-control', placeholder: 'Edition' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :publisher, class: 'col-sm-3 control-label' %>
      <div class="col-sm-7">
        <%= f.select :publisher_cnpj,  nil, {include_blank: 'Selecione uma opção'}, required: true, class: 'form-control' do %>
            <%= options_for_select publishers_options_for_select, selected: @book.publisher_cnpj %>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :genre, class: 'col-sm-3 control-label' %>
      <div class="col-sm-7">
        <%= f.select :genre_id,  nil, {include_blank: 'Selecione uma opção'}, required: true, class: 'form-control' do %>
            <%= options_for_select genres_options_for_select, selected: @book.genre_id %>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :author, class: 'col-sm-3 control-label' %>
      <div class="col-sm-7">
        <%= f.select :author_cpf,  nil, {include_blank: 'Selecione uma opção'}, required: true, class: 'form-control' do %>
            <%= options_for_select authors_options_for_select, selected: @book.author_cpf %>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-10">
        <%= f.submit class: 'btn btn-success pull-right' %>
        <%= link_to 'Back', books_path, class: 'btn btn-warning pull-right', style: 'margin-right: 10px' %>
      </div>
    </div>

<% end %>