<%= render 'layouts/show_header' %>

<%= render 'layouts/flash_success' %>

<div class="row">

  <div class="col-sm-12">

    <div class="well">

      <div>
        <strong>Name:</strong>
        <%= @book.name %>
      </div>

      <div>
        <strong>Pages:</strong>
        <%= @book.pages %>
      </div>

      <div>
        <strong>Isbn:</strong>
        <%= @book.isbn %>
      </div>

      <div>
        <strong>Publish date:</strong>
        <%= @book.publish_date %>
      </div>

      <div>
        <strong>Edition:</strong>
        <%= @book.edition %>
      </div>

      <div>
        <strong>Genre:</strong>
        <% if @book.genre.present? %>
            <%= @book.genre.name %>
        <% else %>
            -
        <% end %>
      </div>

      <div>
        <strong>Author:</strong>
        <% if @book.author_cpf.present? %>
            <%= @book.author.name %>
        <% else %>
            -
        <% end %>
      </div>

      <div>
        <strong>Publisher:</strong>
        <% if @book.publisher_cnpj.present? %>
            <%= @book.publisher.name %>
        <% else %>
            -
        <% end %>
      </div>

    </div>

  </div>

</div>

<div class="row">
  <div class="col-sm-12">
    <%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-primary btn-xs' %>
    <%= link_to 'Back', books_path, class: 'btn btn-warning btn-xs' %>
  </div>
</div>