<%= render 'layouts/list_header', extra_title: "for #{@neighborhood.name}" %>

<%= render 'layouts/flash_success' %>

<div class="row">

  <div class="col-sm-12">

    <div class="table-responsive">

      <table class="table table-bordered table-hover">

        <thead>
        <tr>
          <th>Name</th>
          <th>Kind</th>
          <th colspan="3">Actions</th>
        </tr>
        </thead>

        <tbody>
        <% @streets.each do |street| %>
            <tr>
              <td><%= street.name %></td>
              <td><%= street.kind %></td>
              <td><%= link_to 'Show', street, class: 'btn btn-primary btn-xs' %></td>
              <td><%= link_to 'Edit', edit_street_path(street), class: 'btn btn-primary btn-xs' %></td>
              <td><%= link_to 'Destroy', street, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %></td>
            </tr>
        <% end %>
        </tbody>

      </table>

      <br>

    </div>

  </div>

</div>

<div class="row">
  <div class="col-sm-12">
    <%= link_to 'Back', neighborhood_path(@neighborhood), class: 'btn btn-warning btn-xs' %>
  </div>
</div>