<%= render 'layouts/errors', resource: @address %>

<%= form_for(@address, url: @address.persisted? ? address_path(@address) : street_addresses_path(@street), method: @address.persisted? ? :patch : :post, html: {class: 'form-horizontal'}) do |f| %>

    <div class="form-group">
      <%= f.label :number, class: 'col-sm-3 control-label' %>
      <div class="col-sm-7">
        <%= f.text_field :number, class: 'form-control', placeholder: 'Number', required: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :complement, class: 'col-sm-3 control-label' %>
      <div class="col-sm-7">
        <%= f.text_field :complement, class: 'form-control', placeholder: 'Complement', required: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :cep, class: 'col-sm-3 control-label' %>
      <div class="col-sm-7">
        <%= f.text_field :cep, class: 'form-control', placeholder: 'CEP', required: true %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-10">
        <%= f.submit class: 'btn btn-success pull-right' %>
        <%= link_to 'Back', street_addresses_path(@address.persisted? ? @address.street : @street), class: 'btn btn-warning pull-right', style: 'margin-right: 10px' %>
      </div>
    </div>

<% end %>