<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @address.number %>
</p>

<p>
  <strong>Complement:</strong>
  <%= @address.complement %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @address.cep %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', street_addresses_path(@address.street) %>
