<%= render 'layouts/list_header_title', title: 'Books info' %>

<%= render 'layouts/flash_success' %>

<div class="row">

  <div class="col-sm-12">

    <div class="table-responsive">

      <table class="table table-bordered table-hover">

        <tr>
          <th>Nome</th>
          <th>Páginas</th>
          <th>ISBN</th>
          <th>Editora</th>
          <th>Autor</th>
          <th>Data de publicação</th>
        </tr>

        <% @books.each do |book| %>
            <tr>
              <td><%= book.titulo %></td>
              <td><%= book.pages %></td>
              <td><%= book.isbn %></td>
              <td><%= book.editora %></td>
              <td><%= book.autor %></td>
              <td><%= l(book.publicacao, format: :long) %></td>
            </tr>
        <% end %>

      </table>

    </div>

  </div>

</div>