<h1>Consultas</h1>

<p>
  <%= link_to 'Top 3 títulos avaliados', top_titles_queries_path %>
</p>

<p>
  <%= link_to 'Top 3 contribuidores', top_contributors_queries_path %>
</p>

<p>
  <%= link_to 'Top 3 títulos trocados', top_exchanged_books_queries_path %>
</p>

<p>
  <%= link_to 'Top 3 autores', top_authors_queries_path %>
</p>

<p>
  <%= link_to 'Paginômetro', pagenometer_queries_path %>
</p>